# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
city_data_df = pd.read_csv("./weather_csv")
city_data_df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,0,Barrow,US,1612024081,71.2906,-156.7887,-5.80,77,90,11.50
1,1,Airai,TL,1612024224,-8.9266,125.4092,61.68,100,100,5.01
2,2,Ushuaia,AR,1612024075,-54.8000,-68.3000,51.80,62,20,27.63
3,3,Ostrovnoy,RU,1612024112,68.0531,39.5131,11.14,94,100,11.59
4,4,Araouane,ML,1612024442,18.9048,-3.5265,83.30,13,26,7.07

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
gmaps.configure(api_key=g_key)

In [17]:
locations = city_data_df[["Latitude", "Longitude"]]
humidity= city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer =  gmaps.heatmap_layer(locations, weights=humidity, point_radius=5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [20]:
narroweddf = city_data_df.loc[(city_data_df["Max Temperature"] < 80)\
& (city_data_df["Max Temperature"]> 70)\
& (city_data_df["Wind Speed"] < 10)\
& (city_data_df["Cloudiness"] == 0)].dropna()

narroweddf

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
15,15,Hermanus,ZA,1612023817,-34.4187,19.2345,73.00,74,0,8.01
41,41,Bredasdorp,ZA,1612024073,-34.5322,20.0403,73.00,74,0,8.01
126,126,Sompeta,IN,1612024254,18.9333,84.6000,73.00,71,0,1.32
141,141,Pisco,PE,1612024093,-13.7000,-76.2167,75.20,73,0,9.22
146,146,Port Alfred,ZA,1612024091,-33.5906,26.8910,73.00,82,0,1.99
190,190,Adr√©,TD,1612024268,13.4667,22.2000,75.02,19,0,9.35
192,192,Kruisfontein,ZA,1612024080,-34.0033,24.7314,73.99,65,0,7.00
231,231,Geraldton,AU,1612024233,-28.7667,114.6000,71.60,83,0,6.91
355,355,Burgersdorp,ZA,1612024302,-30.9977,26.3286,78.94,17,0,8.86
378,378,Xai-Xai,MZ,1612024307,-25.0519,33.6442,79.02,79,0,8.95
448,448,Revadanda,IN,1612024324,18.5503,72.9278,78.80,41,0,4.61
473,473,Abu Dhabi,AE,1612024329,24.4667,54.3667,73.40,56,0,4.61

In [ ]:
# # Hotel Map
# * Store into variable named `hotel_df`.
# * Add a "Hotel Name" column to the DataFrame.
# * Set parameters to search for hotels with 5000 meters.
# * Hit the Google Places API for each city's coordinates.
# * Store the first Hotel result into the DataFrame.
# * Plot markers on top of the heatmap.

In [23]:
hotel_df = narroweddf[["City", "Country", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

             City Country  Latitude  Longitude Hotel Name
15       Hermanus      ZA  -34.4187    19.2345
41     Bredasdorp      ZA  -34.5322    20.0403
126       Sompeta      IN   18.9333    84.6000
141         Pisco      PE  -13.7000   -76.2167
146   Port Alfred      ZA  -33.5906    26.8910
190          Adr√©      TD   13.4667    22.2000
192  Kruisfontein      ZA  -34.0033    24.7314
231     Geraldton      AU  -28.7667   114.6000
355   Burgersdorp      ZA  -30.9977    26.3286
378       Xai-Xai      MZ  -25.0519    33.6442
448     Revadanda      IN   18.5503    72.9278
473     Abu Dhabi      AE   24.4667    54.3667

In [28]:
hotellist = []

for i in range(len(hotel_df)):
    lat = hotel_df.loc[:]['Latitude']
    lng = hotel_df.loc[:]['Longitude']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
hotel_df["Hotel Name"] = hotellist
hotel_df2 = hotel_df.dropna(how='any')
hotel_df2.head()

            City Country  Latitude  Longitude Hotel Name
15      Hermanus      ZA  -34.4187    19.2345
41    Bredasdorp      ZA  -34.5322    20.0403
126      Sompeta      IN   18.9333    84.6000
141        Pisco      PE  -13.7000   -76.2167
146  Port Alfred      ZA  -33.5906    26.8910

In [30]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [31]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure

fig

Figure(layout=FigureLayout(height='420px'))